table {
    border: 1px solid black;
    background-color: white;
    position: absolute;
}

td {
    font-size: 12px;
}

tr:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

body {
    background-color: wheat;
}

#edit {
    display: none;
}

